#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

input[type=checkbox]{
  transform: scale(2);
}
button.nix {
  background: none;
  outline: none;
  border: none; 
}
button.nix:focus, button.nix:focus-visible, button.nix:hover {
  outline: none;
  border: none; 
}

ul.check-list{
  list-style: none;
  padding-left: none;
  width: fit-content;
  padding: 0 0 6rem 0;
  margin: 0 auto;
  max-width: 80%;
}

ul.check-list li{
  display: flex;
  align-items: baseline;
  margin-bottom: .5rem;
}

.description{
  font-size: 2rem;
  margin-left: 1rem;
  font-size: 2rem;
  line-height: 2.2rem;
}
.strike{
  text-decoration: line-through;
}
.hover:hover{
  filter: invert(1);
}
.checklist-field{
  font-size: 1.5rem;
  padding: .75rem 1.5rem;
}
.checklist-submit{
  font-size: 1.5rem;
}

.checklist-form {
  position: sticky;
  top: 0;
  z-index: 99;
  backdrop-filter: blur(0px);
  transition:cubic-bezier(0.19, 1, 0.22, 1) all 1s;
  padding-top: 1rem;
  width: 100vw;
  margin-bottom: 2rem;
}

.form-header{
  transition:cubic-bezier(0.19, 1, 0.22, 1) all 1s;
  padding: 6rem 0 4rem;
}

.form-header h1{
  position: relative;
  line-height: 0;
  margin: 0;
  padding: 0;
}

.blur-background{
  backdrop-filter: blur(10px);
  background-color: rgba(0,0,0,0.3);
}

.checklist-form-sticky{
  padding-bottom: 2rem;
  margin-bottom: 0;

}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

li{
  text-align: left;
}
